<!-- NAVBAR CREATION -->
<header class="header">
    <nav class="navbar">
        <a href="#">Yota</a>
    </nav>
</header>
<!-- LOGIN FORM CREATION -->
<div class="background"></div>
<div class="container">
    <div class="item">
        <h2 class="logo"><i class='bx bxl-xing'></i>Social Network</h2>
        <div class="text-item">
            <h2>Welcome! <br><span>
                    To Our Channel
                </span></h2>
            <p>Không gian làm việc số giúp vận hành doanh nghiệp</p>
            <div class="social-icon">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
    </div>
    <div class="login-section">
        <div class="form-box login">
            <button (click)="login()" class="btn">Login In</button>
        </div>
    </div>
</div>
<!-- SIGN UP FORM CREATION -->